body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

main {
    display: flex;
}

.sidebar {
    width: 300px;
    background-color: black;
    color: white;
    height: 100vh;
}

.preview {
    margin: 20px;
    width: 100vw;
}