body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

main {
    display: flex;
}

.sidebar {
    background-color: black;
    color: white;
    height: 100vh;
    flex: 20%;
}

.preview {
    padding: 20px;
}