.element-containers {
    width: 100%;
}

.text-box-element {
    cursor: text;
    outline: none;
}

.text-element-h1 {
    font-size: 60px;
}

.text-element-h2 {
    font-size: 50px;
}

.text-element-h3 {
    font-size: 45px;
}

.text-element-h4 {
    font-size: 40px;
}

.text-element-h5 {
    font-size: 35px;
}

.text-element-h6 {
    font-size: 30px;
}

.text-element-p {
    font-size: 18px;
}