body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

main {
    display: flex;
}

.sidebar {
    background-color: black;
    color: white;
    height: 100vh;
    flex: 20%;
}

.preview {
    padding: 20px;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

h5 {
    margin: 0;
}

h6 {
    margin: 0;
}

p {
    margin: 0;
}