body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

main {
    display: flex;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
}

h5 {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
}

h6 {
    margin: 0;
}

p {
    margin: 0;
}

input[type=text], input[type=number], textarea, select {
    width: 180px;
    background-color: #242424;
    border: solid 1px black;
    border-radius: 3px;
    outline: none;
    color: white;
}

input[type=text], input[type=number] {
    height: 20px;
}

textarea {
    height: 50px;
    font-family: 'Lato', sans-serif;
}