.tabs {
    width: 300px;
    margin: auto;
}

.tabs .buttons-container {
    display: flex;
}

.tabs .child-element-container {
    padding: 20px;
}

.tabs button {
    color: white;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: solid 2px white;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    margin: 0 5px;
    padding: 10px;
    font-size: 20px;
}